main {
    background: #ffffff;
    grid-area: main;
    overflow-y: auto;
}

.main__container {
    padding: 10px;
}

.main__title1 {
    display: flex;
    align-items: center;
}

.main__title {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 5px;
    padding: 20px 50px 20px 20px;
    border-radius: 20px;
    background: #ffffff50;
}

.main__title > img {
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.main__greeting > h1 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 5px;
    font-weight: 700;
    margin-left: 10px;
}

.main__greeting > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}

.main__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    padding: 15px;
    border-radius: 5px;
    background: whitesmoke;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.card:hover {
    background: rgb(223, 31, 31);
}

.card > a {
    text-decoration: none;
    color: #000000;
}

.card__inner {
    padding-top: 10px;
    align-items: center;
}

.card__inner > span {
    font-size: 25px;
}

.card__inner > p {
    margin-top: 20px;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
}

.charts__left {
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 5px #ededed, -5px -5px -5px #ffffff;
}

.charts__left__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.charts__left__title > div > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}

.charts__left__title > div > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}

.charts__left__title > i {
    color: #ffffff;
    font-size: 20px;
    background: #ffc100;
    border-radius: 200px 0px 200px 200px;
    -moz-border-radius: 200px 0px 200px 200px;
    -webkit-border-radius: 200px 0px 200px 200px;
    border: 0px solid #000000;
    padding: 15px;
}

.charts__right {
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.charts__right__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.charts__right__title > div > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}

.charts__right__title > div > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}

.charts__right__title > i {
    color: #ffffff;
    font-size: 20px;
    background: #39447a;
    border-radius: 200px 0px 200px 200px;
    border: 0px solid #000000;
    padding: 15px;
}

.charts__right__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.card1 {
    background: #d1ecf1;
    color: #35a4ba;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}

.card2 {
    background: #d2f9ee;
    color: #38e1b0;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}

.card3 {
    background: #d6d8d9;
    color: #3a3e41;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}

.card4 {
    background: #fddcdf;
    color: #f65a6f;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}

.lazylag {
    height: 500px;
    width: 902px;
    margin: 50px 0;
}

/* (A) FIXED WRAPPER */
.hwrap {
    overflow: hidden; /* HIDE SCROLL BAR */
    margin-left: 300px;
    font-weight: 700;
    padding: 2px;
    width: 500px;
  }
   
  /* (B) MOVING TICKER WRAPPER */
  .hmove { 
      display: flex; 
    }
  
  /* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
  .hitem {
    flex-shrink: 0;
    width: 120%;
    box-sizing: border-box;
    text-align: center;
  }
   
  /* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
  /* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
  @keyframes tickerh {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-120%, 0, 0); }
  }
  .hmove { animation: tickerh linear 15s infinite; }
  .hmove:hover { animation-play-state: paused; }

@media only screen and (max-width: 855px) {
    .main__cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
    .hwrap {
        display: none;
    }
    .main__title {
        flex-direction: column;
    }
}