#sidebar {
    background: white;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px 5px 20px 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.sidebar__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f3f4f6;
    margin-bottom: 10px;
    padding: 0 20px;
}

.sidebar__img {
    display: flex;
    align-items: center;
    margin-left: 50px;
    background: #ffffff;
    padding: 0 10px;
    border-radius: 10px;
}

.sidebar__title > div > img {
    width: 70px;
    object-fit: contain;
}

.sidebar__title > div > h1 {
    font-size: 18px;
    display: inline;
    margin-left: 10px;
}

.sidebar__title > i {
    font-size: 18px;
    display: none;
}

.sidebar__menu > h2 {
    color: #3ea175;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
}

.sidebar__link {
    color: #000000;
    padding: 5px;
    background: whitesmoke;
    border-radius: 10px;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 1px;
}

.sidebar__link1 {
    color: #000000;
    padding: 10px;
    background: whitesmoke;
    margin-bottom: 2px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
}

.sidebar__link:hover {
    background: rgb(223, 31, 31);
}

.active_menu_link {
    background: rgb(223, 31, 31);
    color: #000000;
    font-size: 20px;
    margin-bottom: 5px;
}

.active_menu_link a {
    color: #000000 !important;
}

.active_menu_link i {
    font-size: 20px !important;
}

.sidebar__link > a  , .sidebar__link1 > a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

.sidebar__link > i {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar__link1 > i {
    margin-right: 20px;
    font-size: 18px;
    margin-top: 5px;
}

.sidebar__logout {
    margin-top: 20px;
    padding: 10px;
    color: #e65061;
}

.sidebar__logout > a {
    text-decoration: none;
    color: #e65061;
    font-weight: 700;
    text-transform: uppercase;
}

.sidebar__logout > i {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar-responsive {
    display: inline !important;
    z-index: 9999 !important;
    left: 0 !important;
    position: absolute;
}

@media only screen and (max-width: 978px) {
    #sidebar {
        display: none;
    }

    .sidebar__title > i {
        display: inline;
        color: rgb(223, 31, 31);
    }
}