.navbar {
    background: #ffffff;
    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    border-bottom: 1px solid #3895ff;
}

.nav_icon {
    display: none;
}

.nav_icon > i {
    font-size: 26px;
    color: #a5aaad;
}

.navbar__left > a , .navbar__left1 > a {
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 700;
}

.navbar__left1 > a {
    font-size: 20px;
}

.navbar__left > a:hover , .navbar__left1 > a:hover {
    color: rgb(223, 31, 31);
}

.navbar__left > span > a > img , .navbar__left1 > span > a > img {
    width: 70px;
    object-fit: contain;
}

.navbar__left > span , .navbar__left1 > span {
    margin-right: 100px;
    margin-left: 60px;
}

.navbar__left .active_link {
    color: #265aac;
    border-bottom: 3px solid #265aac;
    padding-bottom: 12px;
}

.navbar__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__right > a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navbar__right > a:hover {
    color: rgb(223, 31, 31);
}

.navbar__right > a > i {
    color: #a5aaad;
    font-size: 16px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
    padding: 7px;
}

@media only screen and (max-width: 978px) {
    .nav_icon {
        display: inline;
    }
    .navbar__left , .navbar__left1 {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .navbar__left {
        display: none;
    }
}